#demo2{
    margin-top: -160px;
}
 
/*----------------------jesh 02-23-208 Responsiveness of specific resolutions and orientation NOT YET FINISHED---------------*/

/***720p HD Television***/ /*-Landscape-*/
@media only screen 
and (min-device-width : 720px) 
and (max-device-width : 1280px)
and (orientation : landscape)
{
    .navbar-brand {
        padding: 17px 0 0 0 !important;
        z-index: 100;
        margin-left: -25px;
    }
    .custom-navtemp {
        margin-top: -21px !important;
    }
    .cb-slideshow, .cb-slideshow:after {
        position: fixed !important;
        height: 160% !important;
    }
    .backport-img {
        max-width: 100%;
        max-height: 150%;
        height: auto;
            
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
    }
    .visible-md-block{
        display:none!important;
    }

   /* .below-icon-inq a img {
        height:80%;
        width: 80%;
    }*/
}
/*-Portrait-*/
@media only screen 
and (min-device-width : 720px) 
and (max-device-width : 1280px)
and (orientation : portrait){


    #portfolio{
        padding-left: 40px;
        margin-top: 80px;
    }
    #reference-home a img{
        margin-left: -50px;
    }
    #reference-home h5{
        margin-left: -40px;
    }
    #report-home a img
    {
        margin-left: 5px;
        margin-top: 20px;
    }
    #report-home h5{
        margin-left: 10px;
        margin-top: 20px;
    }
}
/****end****/

/*foxinn*/ /*-Landscape-*/
@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 1280px)
and (orientation : landscape)
{
    .navbar-brand {
        padding: 17px 0 0 0 !important;
        z-index: 100;
        margin-left: -25px;
    }
    .custom-navtemp {
        margin-top: -21px !important;
    }
    .cb-slideshow, .cb-slideshow:after {
        position: fixed !important;
        height: 160% !important;
    }
    .backport-img {
        max-width: 100%;
        max-height: 150%;
        height: auto;
            
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
    }
    .visible-md-block{
        display:none!important;
    }
    /*.below-icon-inq a img {
        height:80%;
        width: 80%;
    }*/
    .c-wid,.bdtemplate {
        margin-top: -200px !important;
        /*margin-top: 5px !important;*/
    }
    #portfolio{
        margin-top:80px;
    }
}
/*-Portrait-*/
@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 1280px)
and (orientation : portrait){
    .backport-img  {
        position: fixed; 
        top: -10%; 
        left: -10%; 
        width: 500%; 
        height: 900%;
    }
    .ipad-fix:after,.ipad-fix:before{
        display:table;content:" "
    }
    .ipad-fix:after{
        clear:both;
    }
    .visible-md-block{
        display:block!important;
    }
    .c-wid,.bdtemplate {
        margin-top: -200px !important;
        /*margin-top: 5px !important;*/
    }
    #portfolio{
        padding-left: 40px;
        margin-top: 200px;
    }
    .cb-slideshow, .cb-slideshow:after {
        position: fixed !important;
        height: 100% !important;
    }
    .img-size {
        width: 120% !important;
    }
    .img-size {
        max-width: 210px !important;
    }
    #search-home h5{
        margin-left: 20px;
    }
    #appointment-home a img{
        margin-left:30px;
    }
    #appointment-home h5{
        margin-left:40px;
    }
    #message-home a img{
        margin-left:60px;
        text-align: right;
    }
    #message-home h5{
        margin-left:98px;
    }
    #inquiry-home h5{
        margin-left: 35px;
    }
    #reference-home a img {
        margin-left: 14px;
    }
    #reference-home h5{
        margin-right: -60px;
    }
    #template-home a img{
        margin-left: -19px;
    } 
    #template-home h5{
        margin-left: -6px;
    }
    #report-home h5,
    #report-home a img {
        margin-left: -50px;
    }
}
/****end****/



/*Iphone 4*/
@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 320px) 
and (orientation : landscape) { 
     #reference-home{
        margin-left: 20px;
    }
    #report-home{
        margin-left: 65px;
        margin-bottom: 40px;
    }

}
/*END*/



/*iphone 6plus*/ /*Landscape*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) { 
    #demo{
        position: fixed
        height: 100%;
        margin-top: -90px;
    }
    #demo2{
        margin-top: -170px;
    }
   #reference-home{
        margin-right: 80px;
    }
    #report-home{
        margin-left: 65px;
        margin-bottom: 40px;
    }

    /*.below-icon-inq a img {
        height:15%;
        width: 15%;
    }*/
}
/*Portrait*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 
    #report-home{
        margin-bottom: 40px;
    }
     #demo{
        position: fixed
        height: 100%;
        margin-top: -90px;
    }
    #demo2{
        margin-top: -100px;
    }
    .title-module{
        font-size: 9px;
    }
    .img-squareiconsz{
        width: 50%;
        height: 50%;
    }
}
/*end*/

/*iphone 6s*/ /*Landscape*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
    #demo{
        position: fixed
        height: 100%;
        margin-top: -90px;
    }
    #reference-home{
        margin-right: 50px;
    }
    #report-home{
        margin-bottom: 40px;
        margin-left: 65px;
    }
    .img-reficons{
        width: 10%;
        height: 10%;
    }
    .below-icon-inq a img {
        height:13%;
        width: 13%;
    }
}
/*Portrait*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 

    #report-home{
        margin-bottom: 40px;
    } 
    #demo{
        position: fixed
        height: 100%;
        margin-top: -90px;
    }
    .img-squareiconsz{
        width: 50%;
        height: 50%;
    }
    /*guarantee letters*/
    .tab button{
        font-size: 20px;
    }
    .below-icon-inq a img {
        height:20%;
        width: 20%;
    }
}
/*end*/



/*iphone se*/ /*Landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
    
   #reference-home{
        margin-right: 50px;
    }
    #report-home{
        margin-bottom: 40px;
        margin-left: 15px;
    }

    .below-icon-inq a img {
        height:20%;
        width: 20%;
    }
}
/*Portrait*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 
    #demo{
        position: fixed
        height: 100%;
        margin-top: -90px;
    }
    .img-squareiconsz{
        width: 50%;
        height: 50%;
    }
   #reference-home {
        width: 99.9%;
    }
    #report-home{
        margin-bottom: 40px;
    }
    #portfolio{
        margin-top: 14px;
    }

    .below-icon-inq a img {
        height:20%;
        width: 20%;
    }
}
/*end*/


/*iphone x*/ /*Landscape*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (orientation : landscape) { 
    
  .backport-img  {
    max-width: 100%;
    max-height: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 10;
    background-size: cover;
    }
}
/*Portrait*/
@media only screen 
and (min-device-width : 812px) 
and (max-device-width : 375px) 
and (orientation : portrait) { 
    
   #reference-home {
        width: 99.9%;
    }
    #report-home{
        margin-bottom: 40px;
    }
    #portfolio{
        margin-top: 14px;
    }
}
/*end*/


/*google nexus 4*/ /*Landscape*/
@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 384px) 
and (orientation : landscape) { 
    
   #reference-home{
        margin-right: 50px;
    }
    #report-home{
        margin-bottom: 40px;
        margin-right: 45px;
    }
}

/*Nexus 5*/ /*Portrait*/
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation : portrait) { 
    #demo2{
        margin-top: -90px;
    }
}

/*Nexus 7*/ /*Landscape*/
@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 960px) 
and (orientation : landscape) { 
    .c-wid,.bdtemplate {
        margin-top: 8px !important;
    }
    .img-reficons{
        width: 20%;
        height:20%;
        margin-left: 30px;
    }

    .below-icon-inq a img {
        height:16%;
        width: 16%;
    }
}

/*end*/


/*Blackberry**/ /*Portrait*/
@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    
   #reference-home{
        margin-right: 35px;
    }
    #report-home{
        margin-bottom: 40px;
        margin-left: 50px;
    }
}

/*Landscape*/
@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    
    #report-home{
        margin-bottom: 40px;
    }
}
/*end*/


/*Nokia N9*/ /*Landscape*/
@media only screen 
and (min-device-width : 854px) 
and (max-device-width : 480px) 
and (orientation : landscape) { 
    
    #report-home{
        margin-bottom: 40px;
        margin-left: 65px;
    }
}
/*end*/

/*Tesla Model S*/ /*Portrait*/
@media only screen 
and (min-device-width : 1200px) 
and (max-device-width : 1920px) 
and (orientation : portrait) { 
    .c-wid,.bdtemplate{
        margin-top:5px !important;
    }
}
/*Landscape*/
@media only screen 
and (min-device-width : 1200px) 
and (max-device-width : 1920px) 
and (orientation : landscape) { 
    .c-wid,.bdtemplate{
        margin-top:5px !important;
    }
    .backport-img  {
        position: fixed; 
        top: -10%; 
        left: -10%; 
        width: 500%; 
        height: 900%;
    }
    
    
    .cb-slideshow, .cb-slideshow:after {
        position: fixed !important;
        height: 100% !important;
    }

  /*  .below-icon-inq a img {
        height:50%;
        width: 50%;
    }*/
}
/*------------------end--------------------------*/


/*--------------------------Ipad------------------------*/
/*Landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape){ 
    .backport-img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
    }
    .visible-md-block{
        display:none!important;
    }
    .iconbelowpatient-ref {
        margin-right: 30px;
    }
    .below-icon-inq a img {
        height:100%;
        width: 100%;
    }

    .below-icon a img {
        height:90%;
        width: 90%;
    }
    .c-wid,.bdtemplate {
        margin-top: 1px !important;
    }
    #portfolio{
        margin-top:-10px;
    }

    #demo{
        position: fixed
        height: 100%;
        margin-bottom: 30px;
    }
    #demo2{
        margin-top: -100px;
    }

    /*endorsement*/

    .img-reficons{
        width: 80%;
        height:80%;
        margin-left: 10px;
    }

    /*footer*/
    .footer {
        bottom: 0px !important;
        font-weight: 300;
        width: 100%;
        position: fixed;
        font-size: 12px;
    }
            
    .footer-sz {
        font-size: 13px;
        padding-top: 6px;
    } 
    .backport-modal-img {
        position: absolute;
        left: 0;
        opacity: 0.7;
        margin: 0 !important;
        width: 100% !important;
        padding: 0 !important;
        overflow-y: none;
    }
}

/*Portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait){

    #mainNav{
        width: 101%;
    }
    .backport-img  {
        position: fixed; 
        top: -10%; 
        left: -10%; 
        width: 500%; 
        height: 900%;
    }
    .ipad-fix:after,.ipad-fix:before{
        display:table;content:" "
    }
    .ipad-fix:after{
        clear:both;
    }
    .visible-md-block{
        display:block!important;
    }
    .c-wid,.bdtemplate {
        margin-top: -200px !important;
    }
    .below-icon-inq a img {
        height:20%;
        width: 20%;
    }
    #portfolio{
        padding-left: 40px;
        margin-top: 10px;
    }
    #demo{
        position: fixed
        height: 100%;
        margin-top: -90px;
    }
    #demo2{
        margin-top: -100px;
    }
    .img-squareiconsz{
        width: 32%;
        height: 32%;
    }
    .cb-slideshow, .cb-slideshow:after {
        position: fixed !important;
        height: 100% !important;
    }
    .img-size {
        width: 120% !important;
    }
    .img-size {
        max-width: 210px !important;
    }
    #search-home h5{
        margin-left: 20px;
    }
    #appointment-home a img{
        margin-left:30px;
    }
    #appointment-home h5{
        margin-left:40px;
    }
    #message-home a img{
        margin-left:60px;
        text-align: right;
    }
    #message-home h5{
        margin-left:98px;
    }
    #inquiry-home h5{
        margin-left: 35px;
    }
    #reference-home a img {
        margin-left: 14px;
    }
    #reference-home h5{
        margin-right: -90px;
    }
    #template-home a img{
        margin-left: -19px;
    } 
    #template-home h5{
        margin-left: -6px;
    }
    #report-home h5,
    #report-home a img {
        margin-left: -50px;
    }
      .backport-modal-img {
        position: absolute;
        left: 0;
        opacity: 0.7;
        margin: 0 !important;
        width: 100% !important;
        padding: 0 !important;
        overflow-y: none;
    }
    .del-btn{
        width:50px;
    }
    /*---------guarantee_letters----*/

     .c-wid,.bdtemplate {
        margin-top: 8px !important;
    }
}


/*------------------------------------Ipad Pro-------------------------------------*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5){ 
    .cb-slideshow, .cb-slideshow:after {
        position: fixed !important;
        height: 100% !important;
    }
    .backport-img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
            
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
    }
    #portfolio{
        margin-top:50px;
    }
    .below-icon-inq a img {
        height:100%;
        width: 100%;
    }
}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
and (orientation : portrait){

    #mainNav{
        width: 101%;
    }
    html{
        overflow-x: none;
        overflow-y: none;
    }
    .backport-img  {
        position: fixed; 
        top: -10%; 
        left: -10%; 
        width: 500%; 
        height: 900%;
    }
    .ipad-fix:after,.ipad-fix:before{
        display:table;content:" "
    }
    .ipad-fix:after{
        clear:both;
    }
    .visible-md-block{
        display:block!important;
    }
    .c-wid,.bdtemplate {
        margin-top: -200px !important;
        /*margin-top: 5px !important;*/
    }
    #portfolio{
        padding-left: 40px;
        margin-top: 150px;
    }
    .cb-slideshow, .cb-slideshow:after {
        position: fixed !important;
        height: 100% !important;
    }
    .img-size {
        width: 120% !important;
    }
    .img-size {
        max-width: 210px !important;
    }
    #search-home h5{
        margin-left: 20px;
    }
    #appointment-home a img{
        margin-left:30px;
    }
    #appointment-home h5{
        margin-left:40px;
    }
    #message-home a img{
        margin-left:60px;
        text-align: right;
    }
    #message-home h5{
        margin-left:98px;
    }
    #inquiry-home h5{
        margin-left: 35px;
    }
    #reference-home a img {
        margin-left: 14px;
    }
    #reference-home h5{
        margin-right: -60px;
    }
    #template-home a img{
        margin-left: -19px;
    } 
    #template-home h5{
        margin-left: -6px;
    }
    #report-home h5,
    #report-home a img {
        margin-left: -50px;
    }
}
/*end*/

/****Blackberry Playbook
@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 1024px)
and (orientation : landscape){ 
    
    .backport-img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
            
        /* Set up positioning 
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
    }
    .img-size {
        width: 90% !important;
    }
    .img-size {
        max-width: 150px !important;
    }
    .visible-md-block{
        display:none!important;
    }

    .below-icon-inq a img {
        height:80%;
        width: 80%;
    }
    .c-wid,.bdtemplate {
        margin-top: -200px !important;
    }
    #portfolio{
        margin-top:-10px;
    }

    .footer {
        bottom: 0px !important;
        font-weight: 300;
        width: 100%;
        position: fixed;
        font-size: 12px;
    }
            
    .footer-sz {
        font-size: 13px;
        padding-top: 6px;
    }    
}

/**end**/




/*--------------------------Ipad------------------------*/
/*Landscape*/
@media only screen 
and (min-device-width : 1600px) 
and (max-device-width : 2560px)
and (orientation : landscape){ 
    div{
        border:2px solid black;
    }
    .backport-img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
    }
    .visible-md-block{
        display:none!important;
    }
    .iconbelowpatient-ref {
        margin-right: 30px;
    }
    .below-icon-inq a img {
        height:100%;
        width: 100%;
    }

    .below-icon a img {
        height:90%;
        width: 90%;
    }
    .c-wid,.bdtemplate {
        margin-top: 1px !important;
    }
    #portfolio{
        margin-top:-10px;
    }

    #demo{
        position: fixed
        height: 100%;
        margin-bottom: 30px;
    }
    #demo2{
        margin-top: -100px;
    }

    /*endorsement*/

    .img-reficons{
        width: 80%;
        height:80%;
        margin-left: 10px;
    }

    /*footer*/
    .footer {
        bottom: 0px !important;
        font-weight: 300;
        width: 100%;
        position: fixed;
        font-size: 12px;
    }
            
    .footer-sz {
        font-size: 13px;
        padding-top: 6px;
    } 
    .backport-modal-img {
        position: absolute;
        left: 0;
        opacity: 0.7;
        margin: 0 !important;
        width: 100% !important;
        padding: 0 !important;
        overflow-y: none;
    }
}
